<div class="mat-h1 center">
    <mat-card>
        <mat-card-header class="background-primary100">
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput type="email" required placeholder="email" formControlName="email">
                    <button matPrefix mat-icon-button disabled=true><mat-icon>email</mat-icon></button>
                </mat-form-field>

                <br>

                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput type="password" required placeholder="password" formControlName="password">
                    <button matPrefix mat-icon-button disabled=true><mat-icon>vpn_key</mat-icon></button>
                </mat-form-field>

                <br>

                <div class="between">
                    <div></div>
                    <button mat-raised-button color="accent" class="standard-button" [disabled]="!loginForm.valid">Login</button>
                </div>

            </form>

            <br>
            <mat-divider></mat-divider>
            <br>
            <div class="between">
                <span>No account?</span> <button mat-raised-button color="primary" [routerLink]="['/register']" class="standard-button">Register</button>
            </div>

        </mat-card-content>
    </mat-card>

</div>